@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color:cornsilk">

    <div class="text-center">
        <h1 class="display-4" style="color: darkblue; margin-top:300px; font-size:100px">Welcome To Student Information System</h1>

    </div>
   
</body>